// SASS for your album collection view

ul li {
  list-style: none;
}

.thumbnail {
  background: none;
}

.album-name {
  font-size: 16px;
  @include font-open-sans(300);
}

.artist-name, .number-songs {
  font-size: 16px;
  @include font-open-sans(300);
  color: (rgba(white, 0.6))
}

.default-player-footer {
  height: $default-player-footer;
}