extends layouts/player_layout

block content
  .container
      div.row
        -for (var x = 0; x<33; x++)
          div.col-xs-5.col-s-4.col-md-2
            .album-header-information
              ul
                a.thumbnail(href="album")
                  img(src="images/album-placeholder.png")
                  a(href="album"): li.album-name Album Name
                  a(href="album"): li.artist-name Artist Name
                  li.number-songs X songs
